*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    width: 600px;
    height: auto;
    background: #3498db;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}
.contain .header input{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 20px;
}
.contain .list .todo{
    display: flex;
    justify-content: space-between;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding: 5px 20px;
}
.contain .list .todo button {
    background: #3498db;
    border: none;
    cursor: pointer;
    color: #fff;
}